@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GT-Alpina-Standard';
  src: url('/fonts/GT-Alpina-Standard-Light-Trial.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'GT-Alpina-Standard';
  src: url('/fonts/GT-Alpina-Standard-Regular-Trial.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url('/fonts/NHaasGroteskDSPro-55Rg.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url('/fonts/NHaasGroteskDSPro-65Md.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url('/fonts/NHaasGroteskDSPro-75Bd.woff2');
  font-weight: 700;
}

body {
  @apply antialiased;
}

.info-headline {
  @apply mb-3 font-sans text-sm font-medium tracking-normal text-[#F84B40];
}

.contact-list {
  @apply m-0 border-b border-slate-100 p-0 dark:border-white/10;
}

.contact-label {
  @apply flex items-center justify-between px-0 py-2 no-underline;
}

.contact-icon {
  @apply stroke-current text-slate-300 group-hover:text-slate-900 dark:text-slate-800 dark:group-hover:text-slate-300;
}
